.button {
    cursor: pointer;
    display: inline-block;
    outline: none;
    border: 0px;
    position: relative;
    transition: all ease 0.3s;

    &:focus {
        outline: 1px solid red;
    }

    &-underline {
        font-size: 14px;
        line-height: 14px;
        padding-bottom: 3px;
        color: $primary-color;
        border-bottom: 1px dashed $primary-color;

        &:hover {
            border-bottom-color: transparent;
        }
    }

    &-primary {
        background: linear-gradient(90deg, #6cb644 0%, #82ca2c 100%);
        color: white;
        box-shadow: 0px 10px 20px 0px rgba(132, 199, 55, 0.3);

        &:hover {
            background: linear-gradient(90deg, $primary-color-active 0%, $primary-color 100%);
        }
    }

    &-secondary {
        padding: 15px 30px;
        border-radius: 30px;
        border: 1px solid $primary-color;
        background: #fff;
        font-size: 14px;
        font-weight: 600;
        line-height: 25px;
        text-transform: uppercase;

        &:hover {
            background-color: $primary-color;
            color: white;
        }
    }

    &-arrow {
        padding: 24px 81px 24px 30px;
        border-radius: 35px;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        overflow: hidden;

        &::after {
            content: "";
            border-radius: 100%;
            background-color: white;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><g clip-path="url(%23clip0_4641_25)"><path d="M13.2319 9.22934L6.35215 16.1089C5.91452 16.5467 5.20497 16.5467 4.76755 16.1089C4.33009 15.6714 4.33009 14.9619 4.76755 14.5245L10.8551 8.43714L4.76772 2.35002C4.33027 1.91238 4.33027 1.20294 4.76772 0.765482C5.20518 0.327847 5.9147 0.327847 6.35233 0.765482L13.2321 7.64512C13.4508 7.86396 13.56 8.15046 13.56 8.43711C13.56 8.72389 13.4506 9.01061 13.2319 9.22934Z" fill="%2337454A" fill-opacity="0.6"/></g><defs><clipPath id="clip0_4641_25"><rect width="16" height="16" fill="white" transform="translate(0 0.437256)"/></clipPath></defs></svg>');
            background-repeat: no-repeat;
            background-position: center;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 10px;
            right: 10px;
            transition: all ease 0.3s;
        }
    }

    &-vision {
        padding: 12px 41px 12px 71px;
        border-radius: 26px;
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        max-width: 214px;
        background-color: white;
        border: 1px solid $primary-color;
        text-align: left;

        &::after {
            content: "Ш Б";
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
            color: $primary-color;
            position: absolute;
            top: 10px;
            left: 30px;
            transition:
                all ease 0.4s,
                text-shadow 3s cubic-bezier(0, 1, 0, 1);
        }
        &::before {
            content: "н м к";
            font-size: 14px;
            font-weight: 300;
            line-height: normal;
            color: $primary-color;
            position: absolute;
            top: 25px;
            left: 30px;
            transition:
                all ease 0.4s,
                text-shadow 3s cubic-bezier(0, 1, 0, 1);
        }

        &:hover {
            &::before,
            &::after {
                color: hsla(0, 0%, 0%, 0);
                text-shadow: $primary-color 0 0 3px;
            }
        }
    }

    &-disabled {
        cursor: default;
        background: linear-gradient(90deg, rgba(94,94,94,1) 0%, rgba(29,29,29,1) 100%);

        &:hover {
            background: linear-gradient(90deg, rgba(29,29,29,1) 0%, rgba(94,94,94,1) 100%);
        }
    }
}

@media (max-width: $sm) {
    .button {
        &-secondary {
            padding: 10px 20px;
            font-size: 12px;
            line-height: 22px;
        }

        &-arrow {
            padding: 15px 58px 15px 25px;
            font-size: 14px;
            line-height: 22px;

            &::after {
                width: 32px;
                height: 32px;
            }
        }

        &-underline {
            font-size: 12px;
            line-height: 14px;
            padding-bottom: 1px;
        }
    }
}
 